body{
    background-color: rgb(174, 168, 168);
}
.header{
    border: 2px solid blueviolet;
    margin-top: 40px;
    margin: 80px;
    padding: 40px 300px;
    width: 200px;
}
#InputValueId{
    border: 2px solid blue;
    border-radius: 21px;
    width: 168px;
    height: 36px;
}
#main_section{
    margin-left: 200px;
    height: 50px;
}

.collapse{
    display: none;
}

span.rotating{
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

    display: inline-block;
}

span.normal{
    background:none;
    border: none;
    cursor: pointer;
    transform: rotate(00deg);
    -ms-transform: rotate(00deg);
    -webkit-transform: rotate(00deg);
}

.box{
    display:flex;
}

.sub-icon{
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
